<style>
    .quantity-text{
        margin-top: -14px!important;
        margin-left: -20%!important;
    }
    .quantity-label{
        margin-top: 24px;
        margin-left: 20%;
    }
    .quantity-pdp{
        background-color: white !important;
        border: 1px solid black !important;
        margin-top:8%;
    }
    .image-thumb-section{
        display: flex;
    }
    .thumb-veiw{
        display: contents;
    }
    .thumb-dir{
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin-right: -73%;
    }
    @media only screen and (min-width: 768px){
        .productView-title{
            font-size: 45px;
            font-family:"Open Sans","Trebuchet MS",Arial,sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-weight: bolder;
            margin-bottom: 5%;
        }
    }
    .productView-thumbnail-link {
        height: 100% !important;
        max-width: 90% !important;
        justify-content: center !important;
        align-items: center !important;
        }
        .productView-thumbnail-link img
        {
                width: 100% !important;
        }
    .productView-thumbnails .slick-next
        {
         width: 30px;
        height: 30px;
        top: auto;
        bottom: -44px;
        margin-right: 40%;
        }
    .productView-thumbnails .slick-prev
        {
        width: 30px;
        height: 30px;
        top: -18px;
        bottom: auto;
        margin-left: 35%;
        }
    .productView-thumbnails .draggable
        {
        margin-left: 0px !important;
        margin-right: 0px !important;
        }
    .productView-thumbnails .slick-next::before, .slick-prev::before {
        height: 10px;
        width: 10px;
    }
    .productView-thumbnails .slick-next::before {
        background-image: url(//cdn11.bigcommerce.com/s-uok04hg6nb/product_images/uploaded_images/down1-arrow.png);
        fill: #242424!important;
        font-size: 25px;
        font-weight: 800;
        width: 16px;
    }
    .productView-thumbnails .slick-prev::before {
        background-image: url(//cdn11.bigcommerce.com/s-uok04hg6nb/product_images/uploaded_images/up-arrow-angle.png);
        fill: #242424!important;
        font-size: 25px;
        font-weight: 800;
        width: 16px;
        }
        .primageszoomthumb .slick-disabled {
        cursor: pointer;
        opacity: 1;
            }
        .primageszoomthumb
        {
            display: flex;
        align-items: center;
        }
        .font-fifteen{
            font-size: 15px;
            font-weight: 300;
            line-height: 1.2;
            font-family: "Forza","Open Sans","Trebuchet MS",Arial,sans-serif;
            letter-spacing: 0.15em;
            text-transform: uppercase;
        }
    @media screen and (max-width: 800px) and (min-width: 60px) {
    .productView-thumbnails .slick-next
        {         
        margin-right: 12%;
        }
    .productView-thumbnails .slick-prev
        {
        
        margin-left: 20%;
        }
    }
</style>


<!-- <h1>working on side pane right</h1> -->
<div class="productView"
    {{#if settings.data_tag_enabled}}
    data-event-type="product"
    data-entity-id="{{product.id}}"
    data-name="{{product.title}}"
    data-product-category="
    {{#each product.category}}
        {{#if @last}}{{this}}{{else}}{{this}}, {{/if}}
    {{/each}}"
    data-product-brand="{{product.brand.name}}"
    data-product-price="
    {{#or customer (unless theme_settings.restrict_to_login)}}
        {{#if product.price.with_tax}}
            {{product.price.with_tax.value}}
        {{else}}
            {{product.price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}"
    data-product-variant="single-product-option"{{/if}}>

    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert/alert-success success}}
        {{/if}}
    {{/each}}

        <section class="productView-images" data-image-gallery>
            {{!--
                Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
                for variant/rule image replacement
            --}}
            <div class="row primageszoomthumb image-thumb-section">
                <div class="small-2 large-2 columns thumb-veiw" style="padding-left: 0px;">
                    <ul class="productView-thumbnails thumb-dir"{{#gt product.images.length 5}} data-slick='{
          
                    "infinite": false,
                    "vertical": true,
                    "verticalSwiping": true,
                    "dots": true,
                    "arrow":true,
                    "slidesToShow": 5,
                    "slidesToScroll": 2
                }'{{/gt}}>
                {{#each product.images}}
                    <li class="productView-thumbnail">
                        <a
                            class="productView-thumbnail-link"
                            href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                            data-image-gallery-item
                            data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                            data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                            data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                        >
                        {{> components/common/responsive-img
                            image=this
                            fallback_size=../theme_settings.productview_thumb_size
                            lazyload=../theme_settings.lazyload_mode
                        }}
                        </a>
                    </li>
                {{/each}}
            </ul>        
        </div>
      <div class="small-10 large-10 columns">
                
     {{#if product.images.length '>' 1 }}
            {{> components/carousel-content-announcement}}
            {{/if}}
            <figure class="productView-image"
                    data-image-gallery-main
                    {{#if product.main_image}}
                    data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
                    {{/if}}
                    >
                <div class="productView-img-container">
                    {{!-- Remove the surrounding a-element if there is no main image. --}}
                    {{#if product.main_image}}
                        <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                            target="_blank"{{#if schema}} itemprop="image"{{/if}}>
                    {{/if}}
                    {{> components/common/responsive-img
                        image=product.main_image
                        class="productView-image--default"
                        fallback_size=theme_settings.product_size
                        lazyload=theme_settings.lazyload_mode
                        default_image=theme_settings.default_image_product
                        otherAttributes="data-main-image"
                    }}
                    {{!-- Remove the surrounding a-element if there is no main image. --}}
                    {{#if product.main_image}}
                        </a>
                    {{/if}}
                </div>
            </figure>
          
                </div>
    </div>
    </section>
    

    <section class="productView-details product-data" style="width: 50%!important;">
        <div class="productView-product">
            <h1 class="productView-title">{{product.title}}</h1>
            {{#if product.brand}}
                <h1 class="productView-brand font-fifteen">
                    {{product.brand.name}}
                </h1>
            {{/if}}
            
        </div>
    </section>

<!-- start     -->

    <section class="productView-details product-options">
        <div class="productView-options">
            {{#if product.release_date }}
                <p>{{product.release_date}}</p>
            {{/if}}
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                  data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}"/>
                <div data-product-option-change style="display:none;">
                    {{inject 'showSwatchNames' theme_settings.show_product_swatch_names}}
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>

                {{#if product.call_for_price}}
                <p class="productView-price">
                    <span>{{product.call_for_price}}</span>
                </p>
            {{/if}}

<!-- my custom sec     -->

<div class="row">
    <div class="large-6 columns">
        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            {{> components/products/price price=product.price}}
        {{else}}
            {{> components/common/login-for-pricing}}
        {{/or}}

        {{{region name="product_below_price"}}}
    
        {{product.detail_messages}}
    </div>
    <div class="large-6 columns">
        {{> components/products/add-to-cart}}
    </div>
  </div>

  <article class="productView-description">
    {{#if theme_settings.show_product_details_tabs}}
        {{> components/products/description-tabs}}
    {{else}}
        {{> components/products/description}}
    {{/if}}
</article>

<a href="#" class="button tiny">VIEW FULL DETAILS</a>
<a href="#" class="button tiny">FIT CHART</a>
<a href="#" class="button tiny">HOW TO MEASURE</a>

<ul style="list-style: none;">
    <li><a href="">> Delivery options</a></li>
    <li><a href="">> Returns & refunds</a></li>
</ul>
<!-- my custom sec     -->

<!-- end -->

            </form>
        </div>
    </section>
</div>



    


<div id="previewModal" class="modal modal--large" data-reveal>
    {{> components/common/modal/modal-close-btn }}
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>

<script>
    $('.left').click(function(){
        $('#slickcarousel').slick('slickPrev');
    });
    </script>