
<div class="productView"
    {{#if settings.data_tag_enabled}}
    data-event-type="product"
    data-entity-id="{{product.id}}"
    data-name="{{product.title}}"
    data-product-category="
    {{#each product.category}}
        {{#if @last}}{{this}}{{else}}{{this}}, {{/if}}
    {{/each}}"
    data-product-brand="{{product.brand.name}}"
    data-product-price="
    {{#or customer (unless theme_settings.restrict_to_login)}}
        {{#if product.price.with_tax}}
            {{product.price.with_tax.value}}
        {{else}}
            {{product.price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}"
    data-product-variant="single-product-option"{{/if}}>

    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert/alert-success success}}
        {{/if}}
    {{/each}}

    <section class="productView-details product-data">
        <div class="productView-product">
            <h1 class="productView-title">{{product.title}}</h1>
            {{#if product.brand}}
                <h1 class="productView-brand">
                    {{product.brand.name}}
                </h1>
            {{/if}}
            
        </div>
    </section>



<section class="productView-images" data-image-gallery>
    {{!--
        Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
        for variant/rule image replacement
    --}}
    <div class="row">
    <div class="small-4 large-4 columns" style="padding-left: 0px;">
    <ul class="productView-thumbnails"{{#gt product.images.length 4}} data-slick='{
        "infinite": true,
        "mobileFirst": true,
        "dots": false,
        "vertical": true,
        "accessibility": false,
        "slidesToShow": 4,
        "slidesToScroll": 5,
        "outline": false
    }'{{/gt}}>
    {{#each product.images}}
        <li class="productView-thumbnail">
            <a
                class="productView-thumbnail-link"
                href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                data-image-gallery-item
                data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
            >
            {{> components/common/responsive-img
                image=this
                fallback_size=../theme_settings.productview_thumb_size
                lazyload=../theme_settings.lazyload_mode
            }}
            </a>
        </li>
    {{/each}}
</ul>
</div>
<div class="small-8 large-8 columns">
    {{#if product.images.length '>' 1 }}
    {{> components/carousel-content-announcement}}
    {{/if}}
    <figure class="productView-image"
            data-image-gallery-main
            {{#if product.main_image}}
            data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
            {{/if}}
            >
        <div class="productView-img-container">
            {{!-- Remove the surrounding a-element if there is no main image. --}}
            {{#if product.main_image}}
                <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                    target="_blank">
            {{/if}}
            {{> components/common/responsive-img
                image=product.main_image
                class="productView-image--default"
                fallback_size=theme_settings.product_size
                lazyload=theme_settings.lazyload_mode
                default_image=theme_settings.default_image_product
                otherAttributes="data-main-image"
            }}
            {{!-- Remove the surrounding a-element if there is no main image. --}}
            {{#if product.main_image}}
                </a>
            {{/if}}
        </div>
    </figure>
</div>
</div>
</section>




    <section class="productView-details product-options">
        <div class="productView-options">
            {{#if product.release_date }}
                <p>{{product.release_date}}</p>
            {{/if}}
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                  data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}"/>
                <div data-product-option-change style="display:none;">
                    {{inject 'showSwatchNames' theme_settings.show_product_swatch_names}}
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>

                {{#if product.call_for_price}}
                <p class="productView-price">
                    <span>{{product.call_for_price}}</span>
                </p>
            {{/if}}



<div class="row">
    <div class="large-3 columns">
        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            {{> components/products/price price=product.price}}
        {{else}}
            {{> components/common/login-for-pricing}}
        {{/or}}

        {{{region name="product_below_price"}}}
    
        {{product.detail_messages}}
    </div>
    <div class="large-9 columns">
        {{> components/products/add-to-cart}}
    </div>
  </div>
    
<hr style="border-top: 1px dashed #cecece" />
  <p>
    {{sanitize product.description}}
</p>

<a href="#" class="button small">VIEW FULL DETAILS</a>
<a href="#" class="button small">FIT CHART</a>
<a href="#" class="button small">HOW TO MEASURE</a>

<hr style="border-top: 1px dashed #cecece;" />

<ul style="list-style: none;">
    <li><a href="">> Delivery options</a></li>
    <li><a href="">> Returns & refunds</a></li>
</ul>


            </form>
        </div>
    </section>
</div>

<div id="previewModal" class="modal modal--large" data-reveal>
    {{> components/common/modal/modal-close-btn }}
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>